
  <title><%= title%></title>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet" >

  <link rel="stylesheet" href="/stylesheets/messages/messages.css">
  <link rel="stylesheet" href="/stylesheets/ngProgress/nprogress.css">

  <script src="/javascripts/jquery-2.1.4.min.js"></script>
  <script src="/javascripts/angular/angular.min.js"></script>
  <script src="/javascripts/angular-ui-router/angular-ui-router.min.js"></script>
  <script src="/javascripts/ngProgress/nprogress.js"></script>
  <script src="/javascripts/socket.io/socket.io.min.js"></script>


  <script src="/angularApp.js"></script>

  <script src="/messages/services/messages.service.js"></script>
  <script src="/users/services/users.service.js"></script>
  <script src="/sockets/services/sockets.service.js"></script>

  <script src="/index/routes/index.route.js"></script>
  <script src="/index/controllers/left.controller.js"></script>
  <script src="/index/controllers/center.controller.js"></script>
  <script src="/index/controllers/right.controller.js"></script>

  <script src="/posts/routes/posts.route.js"></script>
  <script src="/posts/services/posts.service.js"></script>
  <script src="/posts/controllers/posts.controller.js"></script>
  
  <script src="/auth/routes/auth.routes.js"></script>
  <script src="/auth/services/auth.service.js"></script>
  <script src="/auth/controllers/auth.controller.js"></script>

  <script src="/javascripts/bootstrap.min.js"></script>
