<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body ng-app="flapperNews">

<header>
  <% include ../partials/header %>
</header>

<main>
  <div class="container">
    <div class="row">
      <ui-view></ui-view>
    </div>
  </div>
</main>

<footer>
  <% include ../partials/footer %>
</footer>

</body>
</html>